.Todo{
    padding: 10px;
    background-color: beige;
    text-align: center;
}
.Todo>h2{
    background-color: black;
    color: wheat;
    padding: 10px;
}
.TodoForm>input{
    padding:10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}
.TodoForm> button{
    padding: 8px 20px;
    background-color: rgb(113, 56, 15);
    border: none;
    border-radius: 5px;
    margin: 25px 0px;
    color: white;
    cursor: pointer;
}
.Tasks{
    background-color:blanchedalmond;
    padding: 8px;
}
.List{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    font-size: 1.2rem;
}
.empName{
    margin: 8px 0px;
    font-weight: 800;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 400;
}
.buttonsub>button{
    padding: 8px 15px;
    color:white;
    border:none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
.buttonsub{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}
li{
    margin-bottom: 30px;
}
@media only screen and (min-width:600px){
    .TodoForm>input{
        width: 40%;
        padding: 12px 25px;
        font-size: 1.2rem;
    }
    .List{
        flex-direction: row;
    }
    li{
        min-width: 33.333333%;
    }
    .Tasks{
        background-color: white;
    }
}